/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';


.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .ml-2{
    margin-left: 5px;
  }
.modal-content .title{
  border-bottom: 1px dotted #ccc;
}

.modal-btns{
  text-align: right;
  margin-top: 45px;
  margin-bottom: 15px;
}
.modal-btns a {
  background-color: #00B8D9;
  color:white;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
}
.modal-btns .reject{
  background-color: red;
  margin-left: 10px;
}
.see-idea{
  background-color: #00B8D9;
  color:white;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
}
.modal-content {
  position: relative;
}
.modal-content .close{
  position: absolute;
  right: 15px;
}

.plan{
  height: 600px;
  overflow: auto;
}
.btns{
  text-align: right;
  margin-bottom:20px ;
  margin-right: 35px;
  margin-top: 25px;
}
.btns button{
  margin: 0 7px;
  font-size: 14px;
  width: 80px;
  text-align: center;
}
.btns .save{
  background-color: green;
}
.btns .delete{
  background-color: red;
}